fastapi[standard]
python-dotenv
python-multipart
openai
httpx
beautifulsoup4
aiofiles
markdown
python-jose[cryptography]
passlib[bcrypt]
ag-ui-protocol
email-validator
google-genai
qdrant-client
sqlalchemy[asyncio]
aiosqlite
greenlet

